<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BaseContentIdentifier</key>
	<string>com.apple.playgrounds.blank</string>
	<key>BaseContentVersion</key>
	<string>1.0</string>
	<key>ContentType</key>
	<string>PlaygroundBookUserEdit</string>
	<key>Diffs</key>
	<dict>
		<key>Chapters/Chapter1.playgroundchapter/Pages/30E619F6-8C00-4352-ADDA-03DD34FBCC0E.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/30E619F6-8C00-4352-ADDA-03DD34FBCC0E.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/B6603185-BF94-43D6-8064-AD5B3A970E6D.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/B6603185-BF94-43D6-8064-AD5B3A970E6D.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/BDC363C2-15E5-4126-AA80-E21B3E4C49A4.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/BDC363C2-15E5-4126-AA80-E21B3E4C49A4.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/ED9EDE4D-B2B5-4C05-B92F-F1227195E6B4.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/ED9EDE4D-B2B5-4C05-B92F-F1227195E6B4.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/UserManifest.plist</key>
		<string>Added</string>
		<key>Chapters/Chapter1.playgroundchapter/Pages/My Playground.playgroundpage/main.swift</key>
		<string>Modified</string>
		<key>Chapters/Chapter1.playgroundchapter/UserManifest.plist</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/AnotherDay.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Button.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Close.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/ThankYou.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Universe-part1.swift</key>
		<string>Added</string>
		<key>UserModules/UserModule.playgroundmodule/Sources/Universe-part2.swift</key>
		<string>Added</string>
	</dict>
	<key>FormatVersion</key>
	<integer>2</integer>
	<key>UpdatedContentVersion</key>
	<string>1.0</string>
</dict>
</plist>
